<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atik_faysal.diualumni">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".main.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.JobPortal"
            android:label="Job portal"
            android:theme="@style/theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.SignIn"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.UserRegistration"
            android:label="Registration"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.PostNewJob"
            android:screenOrientation="portrait"
            android:label="New Job"/>
        <activity android:name=".others.SetTabLayout"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.AlumniMembers"
            android:screenOrientation="portrait"
            android:label="Alumni members"/>
        <activity android:name=".important.MyFabJob"
            android:screenOrientation="portrait"
            android:label="Favourite job"/>
        <activity android:name=".others.AboutUs"
            android:screenOrientation="portrait"
            android:label="About us"/>
        <activity android:name=".others.Feedback"
            android:screenOrientation="portrait"
            android:label="Feedback"/>
        <activity android:name=".others.NoInternetConnection"
            android:screenOrientation="portrait"/>
        <activity android:name=".others.EditJobPost"
            android:label="Edit post"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.MyCv"
            android:label="My CV"
            android:screenOrientation="portrait"/>
        <activity android:name=".others.CvViewer"
            android:screenOrientation="portrait"
            android:label="My Resume"/>
        <activity android:name=".main.ApplyForJob"
            android:screenOrientation="portrait"
            android:label="Apply Job"/>
        <activity android:name=".important.ForgotPassword"
            android:screenOrientation="portrait"
            android:label="Recover your password"/>

        <activity android:name=".messages.AllMessages"
            android:label="Messages"
            android:screenOrientation="portrait"/>

        <activity android:name=".messages.PersonMessage"
            android:screenOrientation="portrait"
            android:label=""/>


        <service android:name=".services.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".services.FirebaseInstanceIdServices">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>



        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <meta-data android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false"/>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3c14e39f019b3b47b058a67984af547a01e32021" />
    </application>

</manifest>